p {
  font-family: Lato;
}
.bgcolor {
  background-color: yellow;
}
.borderStyle {
  border: 3px solid red;
}
.tcolor {
  color: brown;
}
.font-Style {
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
